@using Assignment_WebShop_2.Models

@model Basket

@{
    ViewData["Title"] = "BasketView";
}

<h1>BasketView</h1>
<table class="table">
    <thead>
        <tr>
            <th>All Base Price</th>
            <th>All Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @ViewBag.BasePrice
            </td>
            <td>
                @ViewBag.Price
            </td>
        </tr>
    </tbody>
</table>

@if (@ViewBag.Price > 0)
{
    <input type="button" value="Empty Basket" onclick="location.href='@Url.Action("EmptyBasket", "Categories")'" />
}

    <table class="table">
        <thead>
            <tr>
                <th>Products</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.elems)
            {

                @if (item.product != null && item.amount > 0)
                {
                    <tr>
                        <td>
                            <img src="@Url.Action("DisplayImage", "Categories", new { id = item.product.ID })" class="category" />
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.amount)
                        </td>
                        <td>
                            <input type="button" value="Add To Basket" onclick="location.href='@Url.Action("AddProductToBasket", "Categories", new { id = item.product.ID })'" />
                        </td>
                        <td>
                            <input type="button" value="Remove From Basket" onclick="location.href='@Url.Action("RemoveFromBasket", "Categories", new { id = item.product.ID })'" />
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>

    @if (@ViewBag.Price > 0)
    {
        <input type="button" value="Order" onclick="location.href='@Url.Action("Buy", "Order")'" />
    }

    <div>
        <a asp-action="Index">Back to Categories</a>
    </div>
