@model Assignment_WebShop_2.Models.Category

@{
    ViewData["Title"] = "Details";
    Func<double, double, double> Prod = (a, b) => a * b;
}

<h1>Products in @Model.Name</h1>


<h3><a asp-action="BasketView">Basket</a></h3>
<table class="table">
    <thead>
        <tr>
            <th>All Base Price</th>
            <th>All Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @ViewBag.BasePrice
            </td>
            <td>
                @ViewBag.Price
            </td>
        </tr>
    </tbody>
</table>


<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th> <a asp-action="Details" asp-route-sortOrder="@ViewData["NameSortParm"]">Manufacturer</a> </th>
            <th>ModelID</th>
            <th>Description</th>
            <th> <a asp-action="Details" asp-route-sortOrder="@ViewData["PriceSortParam"]">Base Price</a> </th>
            <th> <a asp-action="Details" asp-route-sortOrder="@ViewData["PriceSortParam"]">Price</a> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            @if (item.Available && item.Amount > 0)
            {
                <tr>
                    <td>
                        <img src="@Url.Action("DisplayImage", "Categories", new { id = item.ID })" class="category" />
                    </td>
                    <td>
                        <b>@Html.DisplayFor(model => item.Manufacturer)</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.ModelID)
                    </td>
                    <td style="white-space: pre-line">
                        @Html.DisplayFor(model => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Price)
                    </td>
                    <td>
                        @Prod(item.Price, 1.27)
                    </td>
                    <td>
                        <input type="button" value="Add To Basket" onclick="location.href='@Url.Action("AddProductToBasket", "Categories", new { id = item.ID })'" />
                    </td>
                </tr>

            }
        }
    </tbody>
</table>

<table class="table">
    <tbody>
        @if (ViewBag.Page > 1) 
        {
            <tr>
                <input type="button" value=Previous onclick="location.href='@Url.Action("Details", "Categories", new { id = Model.ID , sortOrder = ViewBag.SortOrder, page = ViewBag.Page - 1})'" />
            </tr>
        }

        @if(ViewBag.More > 0)
        {
            <tr>
                <input type="button" value=Next onclick="location.href='@Url.Action("Details", "Categories", new { id = Model.ID , sortOrder = ViewBag.SortOrder, page = ViewBag.Page + 1})'" />
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to Categories</a>    
</div>
